@page "/reporteclientes"

@*--------- Consulta Clientes ---------*@
@using Models;
@using ProyectoFinal.BLL;

<EditForm Model="lista">
    
    <a type="button" class="rz-border-radius-4 shadow border border-4 btn-lg btn btn-warning" data-toggle="tooltip"
       data-placement="right" title="Regresar al formulario" href="clientes">
        <i class="oi oi-arrow-circle-left"/>
    </a>
    <br/>
    <p/>
    
    <div class="card shadow border border-4 rz-border-radius-4 card-footer d-flex justify-content-center">

        <p/>
        <div class="card-header rz-border-radius-4 shadow text-center">
            <h4>
                Clientes
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                </svg>
            </h4>
        </div>

        <p/>
        <hr>
        <table class="shadow 4 rz-border-radius-4 table table-light table-striped table-bordered">
            <thead class="thead">
            <tr class="text-center table bg-reportecolor">
                <th class="border border-3">ID</th>

                <th class="border border-3">Nombre</th>

                <th class="border border-3">Email</th>

                <th class="border border-3">Cedula</th>

                <th class="border border-3">Telefono</th>

                <th class="border border-3">Celular</th>

                <th class="border border-3">Dirección</th>

               
            </tr>
            </thead>
            <tbody>
            @if (lista.Count == 0)
            {
                <p/>
                <span>Empty</span>
            }
            else
            {
                @foreach (var item in lista)
                {
                    <tr class="text-center">
                        <td class="border border-3">@item.ClienteId</td>

                        <td class="border border-3">@item.Nombre</td>

                        <td class="border border-3">@item.Email</td>

                        <td class="border border-3">@item.Cedula</td>

                        <td class="border border-3">@item.Telefono</td>

                        <td class="border border-3">@item.Celular</td>

                        <td class="border border-3">@item.Direccion</td>

                        
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <p/>
</EditForm>

@code {

#nullable disable // Para quitar el aviso de nulls
    public DateOnly Fecha { get; set; }

    public List<Clientes> lista { get; set; } = new List<Clientes>();

    public Clientes clientes { get; set; } = new Clientes();

    [Inject]
    public ClientesBLL clientesBLL { get; set; }

    protected override void OnInitialized()
    {
        lista = clientesBLL.GetList(e => true);
    }

}