@page "/reportecompras"

@*--------- Reporte Compras ---------*@
@using Models;
@using ProyectoFinal.BLL;

<EditForm Model="listacompras">

    <a type="button" class="rz-border-radius-4 shadow border border-4 btn-lg btn btn-warning" data-toggle="tooltip"
        data-placement="right" title="Regresar al formulario" href="compras">
        <i class="oi oi-arrow-circle-left" />
    </a>
    <br />
    <p />

    <div class="card shadow border border-4 rz-border-radius-4 card-footer d-flex justify-content-center">

        <p />
        <div class="card-header rz-border-radius-4 shadow text-center">
            <h4>
                Compras
                <div class="oi oi-cart"></div>
            </h4>
        </div>
    </div>
    <p/>
    <div class="card shadow border border-4 rz-border-radius-4 card-footer d-flex justify-content-center">

        <div class="card-header rz-border-radius-4 shadow">
            <div class="form-group col-md-3">
                <InputSelect class="form-select text-14" @bind-Value="Filtro">
                    <option value="0" disabled selected>Seleccione un filtro</option>
                    <option value="1">Numero de compra</option>

                </InputSelect>
                <br>
            </div>
            <div class="Form-group col-md-1"></div>

            <div class="Form-group col-3">
                <label>Criterio</label>
                <InputText class="form-control" @bind-Value="Criterio" placeholder="Ingrese el criterio de busqueda" />
            </div>
            <div class="form-group col"
                style="position: absolute; top:0; right:0; margin-right: 750px; margin-top: 102px; ">
                <button type="button" class="btn btn-consulta" @onclick="Consultar" title="Consultar compras">
                    <i class="oi oi-grid-four-up mr-2" /> Consultar
                </button>
            </div>
        </div>

        <p />
        <hr>
        <table class="shadow 4 rz-border-radius-4 table table-light table-striped table-bordered">
            <thead class="thead">
                <tr class="text-center table bg-reportecolor">
                    <th class="border border-3">Numero de orden</th>

                    <th class="border border-3">Fecha Compra</th>

                    <th class="border border-3">Unidades Compradas</th>

                    <th class="border border-3">SubTotal</th>

                    <th class="border border-3">ITBIS</th>

                    <th class="border border-3">Total</th>

                    <th class="border border-3">Ver</th>


                </tr>
            </thead>
            <tbody>
                @if (listacompras.Count == 0)
                {
                    
                    <td class="bg-colornohay">ㅤNo hay compras registradas !</td>
                }
                else
                {
                    @foreach (Compra item in listacompras)
                    {
                        <tr class="text-center">
                            <td class="border border-3">000-@item.CompraId</td>

                            <td class="border border-3">@item.Fecha</td>

                            <td class="border border-3">@item.UnidadesVendidas</td>

                            <td class="border border-3">RD$ @item.SubTotal</td>

                            <td class="border border-3">@item.ITBIS</td>

                            <td class="border border-3">RD$ @item.Total</td>

                             <td>
                            <a class="btn btn-sm btn-outline-primary oi oi-eye" href="consultarcompras/@item.CompraId"></a>
                        </td>


                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <p />
</EditForm>

@code {

#nullable disable // Para quitar el aviso de nulls

    public DateOnly Fecha { get; set; }

    public List<Compra> listacompras { get; set; } = new List<Compra>();

    public List<Articulo> articuloList { get; set; } = new List<Articulo>();

    public Compra compra { get; set; } = new Compra();

    public string Filtro;
    public string Criterio;

    public Articulo Articulo { get; set; }

    [Inject]
    public CompraBLL compraBLL { get; set; }

    [Inject]
    public ArticuloBLL articuloBLL { get; set; }

    protected override void OnInitialized()
    {
        listacompras = compraBLL.GetList(e => true);
        articuloList = articuloBLL.GetList(e => true);
    }

    private void Consultar()
    {
        listacompras = new List<Compra>();
        compra = new Compra();

        listacompras = compraBLL.GetList(e => true);

        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "1": listacompras = compraBLL.GetList(e => e.CompraId == int.Parse(Criterio));
                    break;

            }
        }

    }
}